@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Yanone+Kaffeesatz&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Yanone+Kaffeesatz&display=swap');

body {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F58A6F;
    background: -moz-linear-gradient(180deg, #F58A6F, #6FB2F5);
    background: linear-gradient(180deg, #F58A6F, #6FB2F5);
    background-image: url("./pictures/background.jpg"); 
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans";
}

q { 
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    background-color: rgb(238, 238, 238);
    border-left-style: solid;
    border-color: #842E1B;
    border-width: 3px;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
}

p {
    font-size: 20px;
    line-height: 150%;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    color: rgb(31, 29, 36);
    text-align: justify;
}

a:link {
    color: red;
}

a:visited {
    color: darkred;
}

a:hover {
    background-color: gold;
}

.good {
    text-transform: uppercase;
    color: green;
}

.bad {
    text-transform: uppercase;
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.grey {
    background-color: rgb(167, 148, 148);
}

.white {
    background-color: white;
}

.first {
    font-weight: bolder;
}

.up {
    height: 50px;
    width: max-content;
    background-image: url(./pictures/up.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 55px;
}


.down {
    height: 50px;
    width: max-content;
    background-image: url(./pictures/down.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 55px;
}

.cat {
    height: 50px;
    width: max-content;
    padding-right: 55px;
    background-image: url(./pictures/cat.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.colombus {
    width: 35%;
    height: 35%;
    float: left;
    margin: 20px;
}

.little_rock {
    width: 35%;
    height: 35%;
    float: right;
    margin: 20px;
}

.tallahassee {
    width: 40%;
    height: 40%;
}

.after {
    clear: both;
}

h1 {
    font-family: 'Audiowide', cursive;
}

h2 {
    font-family:"Yanone Kaffeesatz";
}