body {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
q { 
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    background-color: rgb(238, 238, 238);
    border-left-style: solid;
}